{% extends "base.html" %}

{% block content %}

<!-- Pie Chart -->
<div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Add Students to {{classroom.name}}</h6>
            <!--                                  <div class="dropdown no-arrow">-->
            <!--                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--                                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>-->
            <!--                                    </a>-->
            <!--                                    <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;fade-in" aria-labelledby="dropdownMenuLink">-->
            <!--                                      <a class="dropdown-item" href="/classes/{{ classroom.external_id }}/delete">Delete Class</a>-->
            <!--                                    </div>-->
            <!--                                  </div>-->
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                <div>{{ form.students(rows=3, multiple=True, class_="form-control form-control-user") }}</div>
                </p>
                <p>{{ form.submit(class_="btn btn-primary") }}</p>


            </form>


        </div>
    </div>
</div>
{% endblock %}