{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-10">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Add New Contact Type</h6>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <div class="col-4">{{ form.name(class_="form-control form-control-user", type="text",
                            placeholder='Contact Type', autofocus=true) }}
                        </div>
                        <div class="col-2">{{ form.submit(class_="btn btn-primary") }}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Contact Types</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Contact Type</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Contact Type</th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for contact_type in contact_types %}
                        <tr>
                            <td>{{ contact_type.name }}</td>
                            <td class=".text-nowrap">
                                <a href="/contact_types/{{ contact_type.external_id }}/edit"
                                   class="btn btn-primary btn-sm" role="button">Edit</a>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}