{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">My Contact History</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Class</th>
                            <th>Student</th>
                            <th>Type</th>
                            <th>Service</th>
                            <th>Notes</th>
                            <th>Absent</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Date</th>
                            <th>Start</th>
                            <th>End</th>
                            <th>Class</th>
                            <th>Student</th>
                            <th>Type</th>
                            <th>Service</th>
                            <th>Notes</th>
                            <th>Absent</th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for contact in contacts %}
                        <tr>
                            <td>{{ contact.contact_date }}</td>
                            <td>{{ contact.contact_start_time }}</td>
                            <td>{{ contact.contact_end_time }}</td>
                            <td>{{ contact.classroom }}</td>
                            <td>{{ contact.student.last_name }}, {{ contact.student.first_name }}</td>
                            <td>{{ contact.contact_type}}</td>
                            <td>{{ contact.service_offered }}</td>
                            <td>{{ contact.notes }}</td>
                            <td>{{ contact.absent }}</td>
                            <td><a class="btn btn-primary btn-sm"
                                   href="/contacts/{{ contact.external_id }}/edit" role="button">Edit</a></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}