{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Add Student To Class</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                    {{ form.students(class_="form-control form-control-user") }}
                    </p>
                    <p>{{ form.submit(class_="btn btn-primary") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Students in {{ classroom.name }}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td><a href="/classes/{{ classroom.external_id }}/students/{{ student.external_id }}/remove" class="btn btn-danger btn-block"
                                   data-toggle="modal" data-target="#remove{{ student.external_id }}Modal" role="button">Remove</a>
                            </td>
                        </tr>

                        <!-- Remove Student Modal-->
                        <div class="modal fade" id="remove{{ student.external_id }}Modal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Remove {{ student.first_name }}
                                            {{ student.last_name }}</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Select "Confirm" to remove this student from this class. Removing this student does not remove their contact history.
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel
                                        </button>
                                        <a class="btn btn-primary" href="/classes/{{ classroom.external_id }}/students/{{ student.external_id }}/remove">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}