{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Add New Service Offering</h6>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.name(class_="form-control form-control-user", type="text", placeholder='Service Offered') }}
                        {% for error in form.name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class_="btn btn-primary") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Services Offered</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Service</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Service</th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for service in services_offered %}
                        <tr>
                            <td>{{ service.name }}</td>
                            <td class=".text-nowrap">
                                <a href="/services_offered/{{ service.external_id }}/edit" class="btn btn-primary .text-nowrap" role="button">Edit</a>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}