{% extends "base.html" %}

{% block content %}
<div class="row">
 <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Add New Student</h6>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.first_name(class_="form-control form-control-user", type="text", placeholder='First Name') }}
                        {% for error in form.first_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <br>
                        {{ form.last_name(class_="form-control form-control-user", type="text", placeholder='Last Name') }}
                        {% for error in form.last_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.submit(class_="btn btn-primary") }}</p>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-6 col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Students</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Last Name</th>
                            <th>First Name</th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.first_name }}</td>
                            <td><a href="/students/{{ student.external_id }}/edit"
                                   class="btn btn-primary" role="button">Edit</a></td>
                        </tr>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}